* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #121212;
    font-family: "Montserrat";
}
nav {
    display: flex;
    justify-content: center;
    background-color: #121212;
}
.title-container {
    width: 1200px;
    height: 80px;
    display: flex;
    align-items: center;
    color: #1db954;
    font-size: 20px;
    gap: 10px;
    border-bottom: 1px solid #1db954 ;
}
.title-container i {
    font-size: 25px;
}
#tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    gap: 30px;
    background-color: #121212;
}
.card {
    width: 1200px;
    gap: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: solid 2px #1db954;
    overflow: hidden;
    padding: 10px;
}
.card img {
    width: 150px;
    border-radius: 5px;
}
.card p {
    font-size: 20px;
}

.btns-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
}
.btn-top {
    font-size: 30px;
    padding: 10px;
    height: 70px;
    width: 400px;
    border: none;
    color: white;
    background-color: #121212;
}
.profile-container {
    display: flex;
    justify-content: center;
}
.profile-card {
    width: 400px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 15px;
    color: white;
    border-radius: 10px;
}
.profile-card img {
    width: 180px;
    border-radius: 10px;
}



.card-container {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
}
.top-card {
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-card img {
    width: 80px;
    border-radius: 5px;
}

.top-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-top: 30px;
}
.columna {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.bg-profile {
    background: #05043d;
    background: linear-gradient(54deg, rgba(5, 4, 61, 1) 0%, rgba(8, 6, 128, 1) 53%, rgba(9, 7, 163, 1) 100%);
}
.bg-top-artist {
    background: #020024;
    background: linear-gradient(54deg, rgba(2, 0, 36, 1) 0%, rgba(91, 9, 121, 1) 53%, rgba(195, 24, 204, 1) 100%);
}
.bg-top-tracks {
    background: #69061d;
    background: linear-gradient(54deg, rgba(105, 6, 29, 1) 0%, rgba(140, 8, 39, 1) 53%, rgba(235, 33, 80, 1) 100%);
}
.bg-top-genres {
    background: #06bf66;
    background: linear-gradient(54deg, rgba(6, 191, 102, 1) 0%, rgba(28, 145, 88, 1) 53%, rgba(3, 84, 45, 1) 100%);
}