* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #121212;
    font-family: "Montserrat";
}
nav {
    display: flex;
    justify-content: center;
    background-color: #121212;
}
.title-container {
    width: 1200px;
    height: 80px;
    display: flex;
    align-items: center;
    color: #1db954;
    font-size: 20px;
    gap: 10px;
    border-bottom: 1px solid #1db954 ;
}
.title-container i {
    font-size: 25px;
}
#tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    gap: 30px;
    background-color: #121212;
}
.card {
    width: 1200px;
    gap: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: solid 2px #1db954;
    overflow: hidden;
    padding: 10px;
}
.card img {
    width: 150px;
    border-radius: 5px;
}
.card p {
    font-size: 20px;
}

.btns-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
}
.btn-top {
    font-size: 30px;
    padding: 10px;
    height: 70px;
    width: 400px;
    border: none;
    color: white;
    background-color: #121212;
    
}