* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #020024;
}
nav {
    display: flex;
    justify-content: center;
}
.title-container {
    width: 830px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    gap: 20px;
}
.title-container i {
    font-size: 60px;
}
.subtitle {
    display: flex;
    align-items: center;
    font-size: 30px;
    width: 830px;
    color: white;
    height: 100px;
}
.container-tracks {
    display: none;
    flex-direction: column;
    color: white;
    gap: 10px;
    margin-top: 30px;
    height: 600px;
    overflow-y: scroll;   /* activa scroll vertical */
}/* Estilo del scroll */

.container-tracks::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 5px;
}
.container-tracks::-webkit-scrollbar {
    width: 15px;
}
.container-tracks::-webkit-scrollbar-thumb {
    background-color: #19789e;       
    border-radius: 5px;
}
.card-tracks {
    width: 830px;
    gap: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}
.card-tracks img {
    width: 100px;
    border-radius: 5px;
    z-index: 100;
}
.card-tracks__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.card-tracks__text p {
    font-size: 20px;
}
.card-tracks__text h4 {
    font-size: 15px;
}
.card-tracks__text a {
    font-size: 20px;
    color: #199e5e;
}
/*****************/
.btns-container {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 830px;
}
.btn-top {
    font-size: 20px;
    padding: 10px;
    height: 50px;
    width: 170px;
    border: none;
    border-radius: 20px;
    color: white;
    background: #199e5e;
}
.btn-top:hover {
    background-color: #1970d4;
    cursor: pointer;
}
.profile-container {
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.profile-card {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.profile-card img {
    width: 180px;
    border-radius: 20px;
    z-index: 100;
}
.profile-card a {
    z-index: 10;
    font-size: 20px;
    color: white;
}
.profile-card a:hover {
    cursor: pointer;
}
.card-container {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
}
.top-card {
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-card p {
    font-size: 16px;
    z-index: 100;
}
.top-card img {
    width: 80px;
    border-radius: 5px;
    z-index: 100;
}

.top-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
    height: 70px;
    z-index: 100
}
.top-card-title i {
    font-size: 25px;
}

/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
/**********************************************************************/

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}
.columna {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bg-profile {
    position: relative;
    background: linear-gradient(-45deg, #2532f1, #0e19b4, #01074b, #000431);
    background-size: 400% 300%;
    animation: movimientoWrapped 6s ease infinite;
}
/* Opcional: capa borrosa para un efecto suave tipo "glass" */
.bg-profile::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 0;
}
.bg-top-artist {
    position: relative;
    background: linear-gradient(-45deg, #c10bf8, #8d0cb4, #000327, #00021b);
    background-size: 400% 300%;
    animation: movimientoWrapped 4s ease infinite;
}
/* Opcional: capa borrosa para un efecto suave tipo "glass" */
.bg-top-artist::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 0;
}
.bg-top-tracks {
    position: relative;
    background: linear-gradient(-45deg, #f72541, #b80b22, #63010e, #49000a);
    background-size: 400% 200%;
    animation: movimientoWrapped 8s ease infinite;
}
/* Opcional: capa borrosa para un efecto suave tipo "glass" */
.bg-top-tracks::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 0;
}
.bg-top-genres {
    height: 100%;
    position: relative;
    background: linear-gradient(-45deg, #167df3, #1970d4, #05366e, #05366e);
    background-size: 200% 100%;
    animation: movimientoWrapped 7s ease infinite;
}
/* Opcional: capa borrosa para un efecto suave tipo "glass" */
.bg-top-genres::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 0;
}


/* Efecto de movimiento del gradiente */
@keyframes movimientoWrapped {
    0% { background-position: 0% 100%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 100%; }
}



.recently-container {
    display: flex;
    width: 830px;
    gap: 15px;
    overflow-x: auto; 
}
.card {
    width: 150px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
    gap: 5px;
    margin-bottom: 15px;
}
.card img {
    width: 150px;
    border-radius: 10px;
}


.recently-container::-webkit-scrollbar-track {
    background: #040135;
    border-radius: 5px;
}
.recently-container::-webkit-scrollbar {
    width: 15px;
}
.recently-container::-webkit-scrollbar-thumb {
    background-color: #19789e;          
    border-radius: 5px;
}

.following-container {
    width: 830px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.following-container img {
    width: 150px;
    height: 150px;
}